body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f4f4f4;
    }
    
    .container {
      text-align: center;
    }
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      margin: 5px 0;
    }
    
    button {
      margin-left: 10px;
    }


.delete-btn {
      margin-left: 5px;
      cursor: pointer;
      color: rgb(0, 0, 0);
      padding-left: 48px; 
      font-size: 12px; 
    }
    
    